@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box; /* inline block 으로 만들어주는 구문인듯*/
    font-family: 'Noto Sans KR', sans-serif;
}

.parents{
    width:100vw;
    height:150vw;
    background-color:white;

    display:flex;
    justify-content: center;
    align-items:center;
}
.parents > span{
    font-size : 50px;
}
.nav {
    position:sticky;
    top:0px;
    width: 100vw;
    height: 60px;
    background-color : rgb(29,29,31);

    display: flex;
    justify-content :space-evenly; /*일정한 간격으로 띄어놔라*/
    align-items: center;
}
.nav > span{ /* nav 아래에 span 들에게 먹이는 css*/
    color:lightgray;
    transition:color 0.3s;
    cursor:pointer;
    font-size : 14px;
}
.nav > span:hover{
    color: white;
}
.nav > h1{
    color: white;
    font-size : 18px;
}
