@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');
*{
    margin : 0;
    padding : 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.nav {
    width:100vw;
    height:60px;
    display:flex;

    justify-content:space-evenly;
    align-items:center;
    
    position:sticky;
    top:0;
    cursor:pointer;

    background-color : black;
    color : gray;
}
.nav > span:hover{
    color:white;
    transition: color 0.7s;
}
.nav > h1:hover{
    color:white;
    transition: color 0.7s;
}
.parents {
    width:100vw;
    height:150vh;
    display:flex;

    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.parents > span{
    font-size : 50px;
}
